<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Bubble</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <div class="flex-center">Bubble Type</div>
    <ion-select [(ngModel)]="bubbleType" placeholder="Select a bubble type" (ionChange)="onSelectChange()">
      <ion-select-option>Photo</ion-select-option>
      <ion-select-option>Video</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngIf="bubbleType" lines="none" class="flex-center">
    <button class="flex-center" *ngIf="bubbleType=='Photo'" class="welcome-button" (click)="selectImage()">Select Photo</button>
    <button class="flex-center" *ngIf="bubbleType=='Video'" class="welcome-button" (click)="selectVideo()">Select Video</button>
  </div>
  <div class="image_container" (click)="selectImage()" *ngIf="bubbleType=='Photo'">
    <div *ngIf="bubbleType=='Photo' && adData.imageURL" class="object_fit">
      <img src={{adData.imageURL}} alt="Photo"/>
    </div>
  </div>
  <ion-list *ngIf="bubbleType=='Video' && adData.videoUrl">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/video-icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{getFilename(adData.videoUrl)}}</h2>
      </ion-label>
      <ion-icon (click)="playVideo()" name="play"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="bubbleType == 'Photo' || bubbleType=='Video'">
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea auto-grow="true" rows="6" [(ngModel)]="adData.description"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="progress_bar" *ngIf="is_uploading">
    <div [ngStyle]="{'width': progress_percent}"><span *ngIf="progress>10">{{progress}}%</span></div>
  </div>
  <div style="text-align:center; margin-top: 20px;">
    <button class="welcome-button" (click)="postImage()" *ngIf="bubbleType == 'Photo'">Post Image</button>
    <button class="welcome-button" (click)="postVideo()" *ngIf="bubbleType == 'Video'">Post Video</button>
  </div>
</ion-content>