<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793790968316-njfqpm054pgf671c2btg6345lqdju44v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793790968316-njfqpm054pgf671c2btg6345lqdju44v</string>
	<key>API_KEY</key>
	<string>AIzaSyDsQqMldeKbFOu7mbeQygrMXk58N8yzhe0</string>
	<key>GCM_SENDER_ID</key>
	<string>793790968316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kittykay.bubble</string>
	<key>PROJECT_ID</key>
	<string>kittykat-f2c10</string>
	<key>STORAGE_BUCKET</key>
	<string>kittykat-f2c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793790968316:ios:267a1104d74f2853884279</string>
	<key>DATABASE_URL</key>
	<string>https://kittykat-f2c10.firebaseio.com</string>
</dict>
</plist>