<ion-buttons>
  <a (click)="navigate('/user')">
    <button icon-start>
      <div class="profile-bubble ball bubble">
      <ion-icon name="person"></ion-icon>
      </div>
    </button>
  </a>
  <a (click)="navigate('/post-video')">
    <button icon-start>
      <div class="profile-bubble ball bubble">
      <ion-icon name="play"></ion-icon>
      </div>
    </button>
  </a>
  <a (click)="navigate('/main')">
    <button icon-start>
      <div class="bubble-logo"></div>
    </button>
  </a>
  <a (click)="navigate('/post-image')">
    <button ion-button icon-start>
      <div class="profile-bubble ball bubble">
      <ion-icon name="image"></ion-icon>
    </div>
    </button>
  </a>
  <a (click)="navigate('/chats')">
    <button ion-button icon-start>
      <div class="profile-bubble ball bubble">
        <ion-icon name="chatbubbles"></ion-icon>
      </div>
    </button>
  </a>
</ion-buttons>