ion-content{
    padding: 0px;
    border-collapse: collapse;

    ion-list{

        ion-item{
            border-bottom: 1px solid #ddd;
            padding: 8px;

            ion-avatar{
                width:64px;
                height: 64px;
            }

            ion-label *{
                font-size: 1.2em;
            }
        }
    }
}

.btn-follow{
    background: linear-gradient(to top, #63fbf8 0%, #fb98fd 100%);
    color: white;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}